{% block page_checkout_finish_details_inner %}
	{% block page_checkout_finish_data %}
		<div class="card checkout-card">
			<div class="card-body">
				{% block page_checkout_finish_header %}
					<h1 class="finish-header">
					</h1>
				{% endblock %}

				{% block page_checkout_finish_content %}
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block page_checkout_finish_order %}
		<div class="row finish-info">
			{% block page_checkout_finish_order_details %}
				<div class="col-md-12 finish-order-details">
					<div class="card checkout-card">
						<div class="card-body">
							{% block page_checkout_finish_order_title %}
								<div class="card-title">
									<form name="confirmOrderForm" id="confirmOrderForm">
										<div class="form-group">
										<button type="submit" class="btn btn-primary float-left" disabled>
											{{ "checkout.confirmHeader"|trans|sw_sanitize }}
											{% sw_icon 'arrow-right' style {'pack': 'solid'} %}
										</button>
										<button
												id="walleeOrderCancel"
												class="btn btn-outline-primary header-minimal-back-to-shop-button float-right"
												disabled
										>
											{{ "checkout.confirmChangePaymentShippingCancel"|trans|sw_sanitize }}
										</button>
										</div>
									</form>
								</div>
							{% endblock %}

							{% sw_include '@WalleePayment/storefront/page/checkout/finish/wallee.html.twig' %}
						</div>
					</div>
				</div>
			{% endblock %}
			{% block page_checkout_finish_order_address %}
				<div class="col-md-12 finish-address">
					{% sw_include '@Storefront/storefront/page/checkout/finish/finish-address.html.twig' %}
				</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}