.wallee-payment {
  ul.wallee-payment-panel {

	display: none;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;

	li {
	  box-sizing: border-box;
	  font-weight: bold;
	  cursor: pointer;
	  list-style-position: outside;
	  border: 1px solid #f5f5f5;
	  padding: 5px;
	  margin: 5px 0;

	  > label {
		display: block;
		cursor: pointer;
		margin-bottom: .5rem;
		margin-top: .5rem;
		margin-left: .25rem;

		> img {
		  height: 1rem;
		  float: right;
		}
	  }
	}
  }

  .wallee-payment-panel {
	input[type="radio"][name="wallee_payment_handler"] {
	  box-sizing: border-box;
	  padding: 0;
	  position: fixed;
	  opacity: 0;
	}
  }

  /* Center the loader */
  #walleeLoader {
	left: 50%;
	top: 50%;
	width: 7.5em;
	height: 7.5em;
	margin: 0 auto;
	border: 0.5em solid #f3f3f3;
	border-radius: 50%;
	border-top: 0.5em solid #3eb0eb;
	animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
	-o-animation: spin 2s linear infinite;
  }

  #confirmOrderForm {
	overflow: hidden;
  }

  @-moz-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }

  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  @-o-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }

  @-webkit-keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
}