{% block wallee_order_action_refund %}
<sw-modal variant="small"
		  :title="$tc(`wallee-order.modal.title.refund`)"
		  @modal-close="$emit('modal-close')">

	{% block wallee_order_action_refund_amount %}

		<sw-number-field
			:max="this.$parent.$parent.itemRefundableQuantity"
			:min="0"
			 v-model:value="refundQuantity"
			 :label="$tc('wallee-order.refund.refundQuantity.label')">
		</sw-number-field>

		<div>
			{{ $tc('wallee-order.refundAction.maxAvailableItemsToRefund') }}:
			<b>{{ this.$parent.$parent.itemRefundableQuantity }}</b>
		</div>
	{% endblock %}

	{% block wallee_order_action_refund_confirm_button %}
	<template #modal-footer>
		<sw-button variant="primary" @click="refund()">
			{{ $tc('wallee-order.refundAction.confirmButton.text') }}
		</sw-button>
	</template>
	{% endblock %}

	<sw-loader v-if="isLoading"></sw-loader>
</sw-modal>
{% endblock %}
