{% block wallee_settings_content_card_channel_config_credentials %}
	<sw-card class="sw-card"
			 :title="$tc('wallee-settings.settingForm.credentials.cardTitle')">

		{% block wallee_settings_content_card_channel_config_credentials_card_container %}
			<sw-container>

				{% block wallee_settings_content_card_channel_config_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="wallee-settings-credentials-fields">

						{% block wallee_settings_content_card_channel_config_credentials_card_container_settings_space_id %}
							<sw-inherit-wrapper
									v-model="actualConfigData['WalleePayment.config.spaceId']"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['WalleePayment.config.spaceId']"
									:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-number-field name="WalleePayment.config.spaceId"
													 :required="true"
													 :mapInheritance="props"
													 :label="$tc('wallee-settings.settingForm.credentials.spaceId.label')"
													 :helpText="$tc('wallee-settings.settingForm.credentials.spaceId.tooltipText')"
													 :disabled="props.isInherited"
													 :value="props.currentValue"
													 :error="spaceIdErrorState"
													 @change="props.updateCurrentValue">
									</sw-number-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}

						{% block wallee_settings_content_card_channel_config_credentials_card_container_settings_user_id %}
							<sw-inherit-wrapper
									v-model="actualConfigData['WalleePayment.config.userId']"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['WalleePayment.config.userId']"
									:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-number-field name="WalleePayment.config.userId"
													 :required="true"
													 :mapInheritance="props"
													 :label="$tc('wallee-settings.settingForm.credentials.userId.label')"
													 :helpText="$tc('wallee-settings.settingForm.credentials.userId.tooltipText')"
													 :disabled="props.isInherited"
													 :value="props.currentValue"
													 :error="userIdErrorState"
													 @change="props.updateCurrentValue">
									</sw-number-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}

						{% block wallee_settings_content_card_channel_config_credentials_card_container_settings_application_key %}
							<sw-inherit-wrapper
									v-model="actualConfigData['WalleePayment.config.applicationKey']"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['WalleePayment.config.applicationKey']"
									:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-password-field name="WalleePayment.config.applicationKey"
													   :required="true"
													   :passwordToggleAble="true"
													   :mapInheritance="props"
													   :label="$tc('wallee-settings.settingForm.credentials.applicationKey.label')"
													   :helpText="$tc('wallee-settings.settingForm.credentials.applicationKey.tooltipText')"
													   :disabled="props.isInherited"
													   :value="props.currentValue"
													   :error="applicationKeyErrorState"
													   @change="props.updateCurrentValue">
									</sw-password-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}
	</sw-card>

{% endblock %}
