{% block wallee_settings_icon %}
    <span class="sw-icon icon--wallee-multicolor sw-icon--multicolor">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentScriptType="text/ecmascript" zoomAndPan="magnify" contentStyleType="text/css" enable-background="new 0 0 1000 1000" version="1.1" xml:space="preserve" width="1000px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 1000" height="1000px" x="0px" y="0px">
<g id="Layer_1">
</g>
<g id="Layer_1_copy">
</g>
<g id="Layer_1_copy_2">
	<g>
		<linearGradient x1="500" xmlns:xlink="http://www.w3.org/1999/xlink" x2="500" y1="1000" gradientUnits="userSpaceOnUse" y2="4.882812e-04" xlink:type="simple" xlink:actuate="onLoad" id="SVGID_1_" xlink:show="other">
			<stop style="stop-color:#5BBFF3" offset="0"/>
			<stop style="stop-color:#6FD7EF" offset="1"/>
		</linearGradient>
		<rect fill="url(#SVGID_1_)" height="1000" width="1000"/>
		<path fill="#FFFFFF" d="M746.242,617.103c21.412-26.253,33.855-60.791,33.855-110.539V329.008h-89.82v181.017    c0,30.395-6.215,45.592-16.574,57.343c-13.818,15.196-33.16,20.717-50.443,20.717c-29.262,0-53.744-15.418-69.037-30.395    c-5.533-9.652-8.855-22.418-9.445-41.654c0.146-3.154,0.416-6.138,0.416-9.472V329.008h-0.57H455.38h-0.572v177.556    c0,3.334,0.27,6.317,0.417,9.472c-0.592,19.236-3.912,32.002-9.444,41.654c-15.288,14.977-39.776,30.395-69.038,30.395    c-17.282,0-36.624-5.521-50.438-20.717c-10.365-11.751-16.58-26.948-16.58-57.343V329.008h-89.821v177.556    c0,49.748,12.443,84.286,33.856,110.539c26.946,33.16,71.162,53.89,117.448,53.89c49.75,0,91.886-24.179,118.84-52.502    l9.947-7.153l9.966,7.153c26.947,28.323,69.086,52.502,118.834,52.502C675.078,670.992,719.293,650.263,746.242,617.103    L746.242,617.103z"/>
	</g>
</g>
<g id="Layer_1_copy_3">
</g>
</svg>

    </span>
{% endblock %}
